{
  "project_id": "mydrive-666",
  "image_name": "reddit-base",
  "source_image_family" : "reddit-base",
  "machine_type": "f1-micro",
  "image_description": "baked reddit image",
  "disk_type": "pd-standard",
  "disk_size": "10",
  "network": "default",
  "tags": "puma-server, http-server"
}
